<div class="d-flex flex-fill flex-column align-items-center">
  <h2 class="text-align-center">Hi, on that dev server you can navigate under next UIs:</h2>
  <div class="d-flex flex-column">
    <a class="ui-link" href="https://31.43.122.153:40443" target="_blank">
      <span class="ui-link-name">Kibana Logs</span>
      <br/>
      <span class="ui-link-description">
        Logs of all applications are stored here. Logs don't contains sensitive data (at least should not contains:)).
      </span>
    </a>
    <a class="ui-link" href="https://31.43.122.153:41443" target="_blank">
      <span class="ui-link-name">Identity Server</span>
      <br/>
      <span class="ui-link-description">
        Admin UI for simplify maintaining identity server data. (Could be temporarily not available)
      </span>
    </a>
    <a class="ui-link" href="https://31.43.122.153:42443" target="_blank">
      <span class="ui-link-name">NextCloud</span>
      <br/>
      <span class="ui-link-description">
        Just for fun my own cloud storage.
      </span>
    </a>
  </div>
</div>