<div class="project-container">
  <div class="project-container-page">
    <div>
      Munchkin Counter. An android application developed with Xamarin. Helps to count score while playing munchkin, implemented custom async server socket for local multiplayer.
    </div>
    <div>
      <span>GitHub:</span>
      <a href="https://github.com/ukrgerri4/MunchkinCounter" target="_blank">ManchkinCounter</a>
    </div>
    <div>
      <span>Download:</span>
      <a href="https://play.google.com/store/apps/details?id=com.kivgroupua.munchkincounterlan" target="_blank">ManchkinCounter</a>
    </div>
  </div>
</div>