<div class="project-container">
  <div class="project-container-page">
    <div>
      Simple <a href="https://github.com/jbogard/MediatR" target="_blank">MeritR</a> extension for visual studio. Simplified way to create base mediatr objects with certain structure.
    </div>
    <div>
      <span>GitHub:</span>
      <a href="https://github.com/ukrgerri4/MediatRExtension" target="_blank">MediatRExtension</a>
    </div>
    <div>
      <span>Download:</span>
      <a href="https://marketplace.visualstudio.com/items?itemName=ukrgerri4.mediatrextension" target="_blank">MediatRExtension</a>
    </div>
  </div>
</div>