@import "colors.scss";

.ui-link {
	color: $base-text-color;
	padding: 10px;
	margin: 2px 4px 4px 2px;

	.ui-link-name {
		font-size: 1rem;
		font-weight: bolder;
	}

	.ui-link-description {
		font-size: 1rem;
		font-weight: 200;
	}
}

@media (hover: hover) {
	.ui-link { background-color: $white; }
	.ui-link:hover { background-color: $base-hover-color; }
}