.project-container {
	padding: 10px;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;

	.project-container-page {
		display: flex;
		flex-direction: column;
		background-color: white;

		padding: 15px;

		box-shadow: 0 2px 4px $base-box-shadow;
	
		max-width: 210mm;
	}
}